* {
    padding: 0;
    margin: 0;
    font-family: 'Alatsi', sans-serif;
    user-select: none;
}

body {
    height: 1360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

header {
    height: 120px;
    width: 100%;
    background: linear-gradient(to top, #e0e0e0, white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logo-case {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.orange-text {
    font-family: 'Kaushan Script', cursive;
    color: #ff7700;
}

.black-text {
    font-family: 'Kaushan Script', cursive;
    color: #676666;
}

nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#nav_button {
    width: 110px;
    border: none;
    background: linear-gradient(to top, #e0e0e0, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#nav_button p {
    margin-top: 10%;
}

#nav_button:hover {
    width: 110px;
    border: none;
    background: linear-gradient(to top, #c9c0c0, white);
}

#navbutton-orange-line {
    margin-top: 20%;
    height: 5px;
    width: 110px;
    align-self: flex-end;
}

.navbutton-orange-line-current {
    background-color: #ff7d00;
}

.navbutton-orange-line-no {
    background-color: #ff7b0000;
}

.navline {
    height: 120px;
    width: 1px;
    background-color: #d7d7d7;
}

main {
    height: 1240px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

h2 {
    margin-top: 45px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}

.input-case {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-case-past {
    height: 47px;
    width: 450px;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.input-field {
    margin-left: 5px;
    height: 35px;
    width: 325px;
    border: none;
}

.input-button {
    height: 33px;
    width: 93px;
    border: none;
    border-radius: 5px;
    background-color: #c1bfbf;
    color: white;
    font-size: 15px;
}

.uploadphoto_button {
    margin-left: 16px;
    height: 47px;
    width: 210px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to top, #ff6600, #ffa400);
    color: white;
    font-size: 20px;
}

.photo-gallery {
    margin-top: 45px;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(4, 1fr);
}

.item-gallery {
    margin: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.item-gallery-main {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-gallery-main-photo img {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.item-gallery-main-photo p {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 35px;
    left: 15px;
    color: white;
}

.item-gallery-main-additional {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item-gallery-main-additional button {
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    background-color: white;
}

.item-gallery-line {
    margin: 10px;
    height: 1px;
    width: 200px;
    background-color: #e0dfdf;
}

.item-gallery-footer {
    margin-bottom: 3px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#social-button {
    margin: 2px;
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 50%;
    background-color: #b1aeae;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-site {
    margin: 20px;
    margin-left: 500px;
}